{% assign blog = section.settings.new-blog %}

{% unless blog.articles_count ==  0 %}
  <style>
    .blog-image {
      border-radius: 15px; /* Adjust the value as needed */
    }
    .grid--blog {
      display: flex;
      row-gap: 12px;
      position: relative;
      min-width: auto;
      column-gap: 12px;
      flex-basis: auto;
      min-height: auto;
      align-items: flex-start;
      flex-shrink: 0;
      justify-content: flex-start;
      font-style: inherit;
      text-decoration: inherit;
      color: inherit;
      background-color: transparent;
    }
    .grid__item {
      flex: 0 0 auto;
    }
  </style>
  <div class="page-width">
    <div class="grid grid--uniform grid--blog">
    {% for article in blog.articles limit: section.settings.liquid-range %}
      <div class="grid__item medium-up--one-third">
        <a href="{{ article.url }}">
          <img src="{{ article.image | img_url: "300" }}" class="blog-image" style="height: 350px; width: 350px; margin-bottom: 20px;" />
        </a>
        <br/>
        <a href="{{ article.url }}">{{ article.title }}</a>
        <br/>
        <br/>
      </div>
    {% endfor %}
    </div>
  </div>
{% endunless %}



{% schema %}
{
  "name": "New Blog Posts",
  "settings": [
    {
      "id": "liquid-range",
      "type": "range",
      "label": "Range",
      "min": 3,
      "max": 12,
      "step": 3,
      "default": 3
    },
    {
      "id": "new-blog",
      "type": "blog",
      "label": "Blog"
      
    }
  ],
  "presets": [
    {
      "name": "New Blog Posts",
      "category": "Posts"
    }
  ]
}
{% endschema %}
