{% assign blog = section.settings.new-blog %}

{% unless blog.articles_count == 0 %}
  <style>
    .blog-images {
      white-space: nowrap;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch; /* For smooth scrolling on iOS */
    }
    .blog-image {
      border-radius: 15px; /* Adjust the value as needed */
      height: 350px;
      width: auto;
      margin-right: 20px;
      display: inline-block;
    }
  </style>
  <div class="blog-images">
    {% for article in blog.articles limit: section.settings.liquid-range %}
      <a href="{{ article.url }}">
        <img src="{{ article.image | img_url: "300" }}" class="blog-image" />
      </a>
    {% endfor %}
  </div>

  <script>
    var slideIndex = 0;
    var images = document.querySelectorAll('.blog-image');

    function carousel() {
      slideIndex++;
      if (slideIndex >= images.length) { slideIndex = 0; }
      scrollToImage();
    }

    function scrollToImage() {
      var scrollX = images[slideIndex].offsetLeft;
      document.querySelector('.blog-images').scrollTo({
        left: scrollX,
        behavior: 'smooth'
      });
    }

    setInterval(carousel, 2000); // Change image every 2 seconds
  </script>
{% endunless %}

{% schema %}
{
  "name": "Image Slideshow",
  "settings": [
    {
      "id": "liquid-range",
      "type": "range",
      "label": "Range",
      "min": 3,
      "max": 12,
      "step": 3,
      "default": 3
    },
    {
      "id": "new-blog",
      "type": "blog",
      "label": "Blog"
    }
  ],
  "presets": [
    {
      "name": "Image Slideshow",
      "category": "Posts"
    }
  ]
}
{% endschema %}
