{% assign blog = section.settings.new-blog %}

{% unless blog.articles_count == 0 %}
  <style>
    .blog-image {
      border-radius: 15px; /* Adjust the value as needed */
      height: 350px;
      width: 350px;
      margin-bottom: 20px;
      display: none; /* Hide images by default */
    }
    .slideshow-container {
      position: relative;
      overflow: hidden;
    }
  </style>
  <div class="slideshow-container">
    <div class="page-width">
      <div class="grid grid--uniform grid--blog">
        {% for article in blog.articles limit: section.settings.liquid-range %}
          <div class="grid__item medium-up--one-third">
            <a href="{{ article.url }}">
              <img src="{{ article.image | img_url: "300" }}" class="blog-image" />
            </a>
            <br/>
            <a href="{{ article.url }}">{{ article.title }}</a>
            <br/>
            <br/>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <script>
    var slideIndex = 0;
    carousel();

    function carousel() {
      var i;
      var slides = document.getElementsByClassName("blog-image");
      for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";  // Hide all images
      }
      slideIndex++;
      if (slideIndex > slides.length) { slideIndex = 1 }
      slides[slideIndex - 1].style.display = "block";  // Display the current image
      setTimeout(carousel, 2000); // Change image every 2 seconds
    }
  </script>
{% endunless %}

{% schema %}
{
  "name": "Image Slidshow",
  "settings": [
    {
      "id": "liquid-range",
      "type": "range",
      "label": "Range",
      "min": 3,
      "max": 12,
      "step": 3,
      "default": 3
    },
    {
      "id": "new-blog",
      "type": "blog",
      "label": "Blog"
    }
  ],
  "presets": [
    {
      "name": "Image Slidshow",
      "category": "Posts"
    }
  ]
}
{% endschema %}
