<h1>{{ section.settings.liquid-ref }}</h1>

{% if section.settings.Liquid-checkbox == true %}
  Checkbox is working
{% else %}
  Checkbox not checked
{% endif %}
{% schema %}
  {
    "name": "Liquid Reference",
    "settings": [
      {
        "id": "liquid-ref",
        "type": "text",
        "label": "A reference for Shopify Liquid"
      },
      {
        "id": "Liquid-checkbox",
        "type": "checkbox",
        "label": "A checbox for testing"
      }
    ],
    
    "presets": [
      {
        "name": "Liquid Reference",
        "category": "Reference"
      }
    ]
  }
{% endschema %}
