<h1>{{ section.settings.liquid-ref }}</h1>

{% if section.settings.Liquid-checkbox == true %}
  Checkbox is working
{% else %}
  Checkbox not checked
{% endif %}

{% if section.settings.Liquid-radio == 'option-1' %}
  option 1 is selected
{% else %}
  option 2 is selected
{% endif %}
{% schema %}
  {
    "name": "Liquid Reference",
    "settings": [
      {
        "id": "liquid-ref",
        "type": "text",
        "label": "A reference for Shopify Liquid"
      },
      {
        "id": "Liquid-checkbox",
        "type": "checkbox",
        "label": "A checbox for testing"
      },
      {
        "id": "Liquid-radio",
        "type": "radio",
        "label": "A radio for testing",
        "options": [
          {
            "value": "option-1",
            "label": "option 1"   
          },
          {
            "value": "option-2",
            "label": "option 2"
          }
        ]
      }
    ],
    
    "presets": [
      {
        "name": "Liquid Reference",
        "category": "Reference"
      }
    ]
  }
{% endschema %}
